<mat-card>
    <h2>Matched Candidates</h2>
    <table mat-table [dataSource]="candidates" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let candidate"> {{ candidate.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Match Score </th>
        <td mat-cell *matCellDef="let candidate"> {{ candidate.score }}% </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
  